.Cards {
 background-color: #f7f3fa;
}

.card {
  box-shadow: 7px 10px 50px #e8e2f0;
  border-radius: 5px 0px 0px 5px;
  margin-bottom: 15%;
}

.cardBody {
  border-left: 5px solid transparent;
  border-image: linear-gradient(150.72deg, #00b5d0 3.87%, #5c0e62 110.68%) 1;
}

.icons {
  color: #591567;
}

.first {
  padding-top: 15%;
}

.Share {
  color: #857885;
  font-weight: 700;
}

.mini-paragraph {
  color: #857885;
  font-weight: 640;
  margin-right: 15%;
}

@media (max-width: 768px) {
  .first,
  .second {
    display: none;
  }
  .svg-container {
    /* background-color: #fff; */
   }
   .svg {
    display: none;
   }
}

/* Subtract */
.svg {
  z-index: -1;
position: "absolute";
width: "88px";
height: "91px";
left: "865px";
top: "838px";

background: "#FFFFFF";
}


.svg-container {
  position: relative;
  
}

.text-container {
  position: relative;
  padding-top: 10%;
  /* bottom: -40%; */
  top: 10%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
}